body { 
   display: block;
   margin: 0;
   color: #323232;
  
}

body:focus { 
    outline: none;
}

table{
     border-collapse: collapse;
      width: 80%;
      }
 th, td {text-align: left;padding: 8px;}
  tr:nth-child(even){background-color: #eeeeee;}
input[type=date]{display: block;}
input[type=text]{
                 width: 95%;
                 height: 25px;
                 margin: 0 0 8px 2px;
                 display: block;
                 border: 1px solid;
                 border-radius:2px;
                 -moz-border-radius:2px;
                 -webkit-border-radius:2px;
                 box-shadow: 1px 1px 2px #0489b1;    
                 -moz-box-shadow: 1px 1px 2px #0489b1;
                 -webkit-box-shadow: 1px 1px 2px #0489b1; 
      
                }
input[type=text]:hover, textarea:hover{ 
         background: #eeeeff; 
                                       }
input[type=submit]{border: 0;color: #ffffff;background: #0489b1;cursor: pointer;font-size: 16px;}

#form{margin: 5px  5px 0 5px;}
#acesso_foto{
         border: 1px solid #3434dd;
        border-radius:8px;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        box-shadow: 1px 1px 3px #333333;    
        -moz-box-shadow: 1px 1px 3px #333333;
        -webkit-box-shadow: 1px 1px 3px #333333;
          } 

#tirar_foto{
         position: absolute; /* posição absoluta ao elemento pai, neste caso o BODY */
        /* Posiciona no meio, tanto em relação a esquerda como ao topo */
        display:none;
        left: 50%; 
        top: 50%;
        width: 320px; /* Largura da DIV */
        height: 240px; /* Altura da DIV */
        /* A margem a esquerda deve ser menos a metade da largura */
        /* A margem ao topo deve ser menos a metade da altura */
        /* Fazendo isso, centralizará a DIV */
        margin-left: -150px;
        margin-top: -125px;
        color: #FFF;
        text-align: center; /* Centraliza o texto */
        z-index: 1000; /* Faz com que fique sobre todos os elementos da página */
       }
fieldset{margin: 5px 2px 2px 2px;
        border: 1px solid #3434dd;
        box-shadow: 1px 1px 3px #0489b1;    
        -moz-box-shadow: 1px 1px 3px #0489b1;
        -webkit-box-shadow: 1px 1px 3px #0489b1;
         }
span{color: #ff2323;text-transform: uppercase;}
#span_acesso{color: #0000ff;text-transform: uppercase;font-size:20px;margin-left: 10px;}
label{margin: 2 0 0 20px;}

#img_foto{
        width:120px;
        height: 120px;
	padding: 2px;
        z-index:1000;
	border: 1px solid #3434dd;
        border-radius:8px;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        box-shadow: 1px 1px 3px #333333;    
        -moz-box-shadow: 1px 1px 3px #333333;
        -webkit-box-shadow: 1px 1px 3px #333333;
       }
#col1{position: relative;float: left;width:48%}
#col2{position: relative;float: right;width:48%}

#flex_container{display:flex;margin-bottom: 5px;border-bottom: 1px solid #0489b1;height: 135px;}

#foto_resultado{padding:0 0 0 10px;}

#container{}

#mainnav {
	color: #ffffff;
	padding: 2px 0;
	margin-bottom: 10px;
	}

#mainnav ul {
	margin: 0 0 0 20px;
	padding: 0;
	list-style-type: none;
	border-left: 1px solid #ffffff;
	}

#mainnav li {
	display: inline;
	padding: 0 10px;
	border-right: 1px solid #ffffff;
	}

#mainnav li a {
	text-decoration: none;
	color: #ffffff;
	}

#mainnav li a:hover {
	text-decoration: none;
	color: #ddd;
	}
#header {
        background: #0489b1;
        padding:0 0 0 10px;
        }
h1{
  text-align: center;
   background-color: #FEFFED;
    height: 70px;
     color: rgb(95, 89, 89);
      margin: 0 0 -29px 0;
     padding-top: 14px;
    border-radius: 10px 10px 0 0;
   font-size: 35px;
   }
.main {
 display:none;
  position: absolute;
   top: 50px;
    left: 20%;
     width: 450px;
    height:530px;
   border: 2px solid gray;
border-radius: 10px;
       z-index: 1000;
        background: #eeeeee;
        }
.main label{
 color: rgba(0, 0, 0, 0.71);
  margin-left: 60px;
           }
#image_preview{
 position: absolute;
   font-size: 30px;
     top: 100px;
      left: 100px;
    width: 250px;
  height: 230px;
 text-align: center;
  line-height: 180px;
   font-weight: bold;
    color: #C0C0C0;
      background-color: #FFFFFF;
 overflow: auto;
               }
#selectImage{
  padding: 19px 21px 14px 15px;
   position: absolute;
    bottom: 0px;
     width: 414px;
      background-color: #FEFFED;
       border-radius: 10px;
            }
.submit{
font-size: 16px;
background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
border: 1px solid #e5a900;
color: #4E4D4B;
font-weight: bold;
cursor: pointer;
width: 300px;
border-radius: 5px;
padding: 10px 0;
outline: none;
margin-top: 20px;
margin-left: 15%;
}
.submit:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
#file {
color: red;
padding: 5px;
border: 5px solid #8BF1B0;
background-color: #8BF1B0;
margin-top: 10px;
border-radius: 5px;
box-shadow: 0 0 15px #626F7E;
margin-left: 15%;
width: 72%;
}
#message{
position:absolute;
top:120px;
left:815px;
         }
#success{color:green;}
#invalid{color:red;}
#line{margin-top: 274px;}
#error{color:red;}
#error_message{color:blue;}
#loading{display:none;
  position:absolute;
   top:50px;
   left:850px;
 font-size:25px;
         }
